<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="modification.js"></script>
    <title>Tokidex</title>
    <link rel = "stylesheet" href = 'modification.css'>
  </head>
  <body>
    <div class = "sidebar">
      <ul>
        <li><a href = 'mainpage'>Home</a></li>
      </ul>
    </div>
    <form>
      Name: <input class="name" type="text" name="name"><br>
      Height: <input type="number" name="height"><br>
      Weight: <input type="number" name="weight"><br>
      Fly: <input class="attribute" type="number" name="fly" value="0" oninput="calculatetotalinsert(this)"><br>
      Fight: <input class="attribute" type="number" name="fight" value="0" oninput="calculatetotalinsert(this)"><br>
      Fire: <input class="attribute" type="number" name="fire" value="0" oninput="calculatetotalinsert(this)"><br>
      Water: <input class="attribute" type="number" name="water" value="0" oninput="calculatetotalinsert(this)"><br>
      Electric: <input class="attribute" type="number" name="electric" value="0" oninput="calculatetotalinsert(this)"><br>
      Frozen: <input class="attribute" type="number" name="frozen" value="0" oninput="calculatetotalinsert(this)"><br>
      Total: <input type="number" name="total" value="0" readonly><br>
      Trainer Name: <input type="text" name="trainer_name"><br>
    </form>
      <button type="button" onclick="add()">ADD</button>
</html>
