<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="modification.js"></script>
    <title>Tokidex</title>
    <link rel = "stylesheet" href = 'modification.css'>
  </head>
  <body>
    <form>
      Name: <input type="text" name="name"><br>
      Height: <input type="number" name="height"><br>
      Weight: <input type="number" name="weight"><br>
      Fly: <input class="attribute" type="number" name="fly" value="0" oninput="calculatetotal(this)"><br>
      Fight: <input class="attribute" type="number" name="fight" value="0" oninput="calculatetotal(this)"><br>
      Fire: <input class="attribute" type="number" name="fire" value="0" oninput="calculatetotal(this)"><br>
      Water: <input class="attribute" type="number" name="water" value="0" oninput="calculatetotal(this)"><br>
      Electric: <input class="attribute" type="number" name="electric" value="0" oninput="calculatetotal(this)"><br>
      Frozen: <input class="attribute" type="number" name="frozen" value="0" oninput="calculatetotal(this)"><br>
      Total: <input type="number" name="total" value="0" readonly><br>
      Trainer Name: <input type="text" name="trainer_name"><br>
      <button type="button" onclick="add()">ADD</button>
    </form>
</html>
