<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>USERS</title>
  </head>
  <body>

    <ul>
      <% results.forEach((r) => { %>
        <li><%= r.name %></li>
        <li><%= r.height %></li>
      <% }); %>

    </ul>
  </body>
</html>
